<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- Java Bean에 별칭을 지어준다. -->
		<typeAlias type="com.shoes.model.TestBatisBean" alias="testBatis"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/shoes/dao/testBatisMapper.xml" />
	</mappers>
</configuration>
