<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- Java Bean에 별칭을 지어준다. -->
		<typeAlias type="com.shoes.model.TestBatisBean" alias="testBatis"/>
		<typeAlias type="com.shoes.model.HBean" alias="test2Batis"/>
		<typeAlias type="com.shoes.model.ABean" alias="text3Batis"/>
		<typeAlias type="com.shoes.model.PRDTCommonBean" alias="PRDTCommon"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/shoes/dao/testBatisMapper.xml" />
		<mapper resource="com/shoes/dao/test2Mapper.xml"/>
		<mapper resource="com/shoes/dao/testdj.xml"/>
		<mapper resource="com/shoes/dao/PRDTCommon.xml"/>
	</mappers>
</configuration>
