<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <typeAliases>
      <!--   Mapper에서 쓸 Java Bean들에 별칭을 지어준다.
         일일이 패키지명까지 쓰기 싫으니까 여기서 별칭을 지어주는 거다.
      -->
      <typeAlias type="com.shoes.model.TestBatisBean" alias="testBatis"/>
      
      <typeAlias type="com.shoes.model.PRDTCommonBean" alias="PRDTCommonBean"/>
      <typeAlias type="com.shoes.model.CategoryBean" alias="Category"/>
      <typeAlias type="com.shoes.model.PRDTBean" alias="PRDTBean"/>

      <typeAlias type="com.shoes.model.UsedTradePostTbBean" alias="UsedTradePostTbBean"/>
      <typeAlias type="com.shoes.model.PrdtSizeTbBean" alias="PrdtSizeTbBean"/>
      <typeAlias type="com.shoes.model.DistrictTbBean" alias="DistrictTbBean"/>
      <typeAlias type="com.shoes.model.UsedTradeStTbBean" alias="UsedTradeStTbBean"/>
      <typeAlias type="com.shoes.model.UsedStTbBean" alias="UsedStTbBean"/>
      
      <typeAlias type="com.shoes.model.JoinBean" alias="JoinBean"/>
      <typeAlias type="com.shoes.model.PwFindAskBean" alias="PwFindAskBean"/>
      
      <typeAlias type="com.shoes.model.PRDTPostBean" alias="PRDTPostBean"/>
      <typeAlias type="com.shoes.model.PRDTSTBean" alias="PRDTSTBean"/>
      <typeAlias type="com.shoes.model.DeliveryBean" alias="DeliveryBean"/>
      <typeAlias type="com.shoes.model.PRDTCommentBean" alias="PRDTCommentBean"/>
      <typeAlias type="com.shoes.model.UtpCommentTbBean" alias="UtpCommentTbBean"/>
      
      
   </typeAliases>
   
   <mappers>
   
      <mapper resource="com/shoes/dao/testBatisMapper.xml"/>   <!-- 연습용 예제 -->

      <mapper resource="com/shoes/dao/PRDT.xml"/>      <!-- 상품 관련 SQL문 -->
      <mapper resource="com/shoes/dao/PRDTCommon.xml"/>   <!-- 상품 공통정보 관련 SQL문 -->
      <mapper resource="com/shoes/dao/UsedTradeMapper.xml"/>   <!-- 중고장터 관련 SQL문 -->
      <mapper resource="com/shoes/dao/StoreMapper.xml"/>  <!-- 상품 상세정보 관련 SQL문 -->
      <mapper resource="com/shoes/dao/PRDTPostMapper.xml"/>  <!-- 상품 판매글 관련 SQL문 -->
      <mapper resource="com/shoes/dao/MemberMapper.xml"/>  <!-- 회원정보 테이블 관련 SQL문 -->
   </mappers>
</configuration>
