<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dj">
	<!-- MEMBER_TB로부터 이메일과 일치하는 레코드의, 권한 등급만 받아오기 -->
	<select id="getMemberTbGradeStPk" parameterType="String" resultType="String">
		SELECT GRADE_ST_PK
		FROM MEMBER_TB
		WHERE MEM_EMAIL_PK = #{MEM_EMAIL_PK}
	</select>
	
	<select id="getMemberTb" parameterType="String" resultType="JoinBean">
		select * from MEMBER_TB
		where MEM_EMAIL_PK = #{MEM_EMAIL_PK}
	</select>
	
	<!--PW_FIND_ASK_TB 정보 받아오기 -->
	<select id="getPwFindAskBeanList" resultType="PwFindAskBean">
		select * from PW_FIND_ASK_TB
	</select>

	<!-- MEMBER_TB에 새로운 회원 저장하기 -->
	<insert id="insertMemberTb" parameterType="JoinBean">
		INSERT INTO MEMBER_TB(
			MEM_EMAIL_PK,
			MEM_ID,
			MEM_PASSWORD,
			MEM_NM,
			MEM_ZIPCODE,
			MEM_ROAD_ADDRESS,
			MEM_JIBUN_ADDRESS,
			MEM_DETAIL_ADDRESS,
			MEM_HOME_PHONE,
			MEM_CELL_PHONE,
			GRADE_ST_PK,
			MEM_JOIN_DT,
			MEMBER_MILEAGE
		)values(
			#{MEM_EMAIL_PK},
			#{MEM_ID},
			#{MEM_PASSWORD},
			#{MEM_NM},
			#{MEM_ZIPCODE},
			#{MEM_ROAD_ADDRESS},
			#{MEM_JIBUN_ADDRESS},
			#{MEM_DETAIL_ADDRESS},
			#{MEM_HOME_PHONE},
			#{MEM_CELL_PHONE},
			#{GRADE_ST_PK},
			#{MEM_JOIN_DT},
			#{MEMBER_MILEAGE}
		)
	</insert>
</mapper>

