<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

   
<mapper namespace="com.shoes.model.PRDTCommonBean"> 

	<select id="getCommonINfo" parameterType="String" resultType="PRDTCommonBean">
		select * from PRDT_COMMON_INFO_TB  
		where PCI_PRDT_NAME = #{value}
	</select>
	
	<select id="getCommonINfoList" resultType="PRDTCommonBean">
		select * from  PRDT_COMMON_INFO_TB  
	</select>
	
	
		<select id="getPostINfo" parameterType="int" resultType="PRDTPostBean">
		select PCI_SQ_PK, PRDT_ST_NM_PK, PP_BODY, DLVR_CHRG_NM_PK, PP_SAVING_MILEAGE_PERCENT, PP_SQ_PK from PRDT_POST_TB  
		where PCI_SQ_PK = #{value}
	</select>
	
	
	
		<select id="getPostINfoList" resultType="PRDTPostBean">
		select * from PRDT_POST_TB  
	</select>
	
	
	<select id="getPRDTINfo" parameterType="int" resultType="PRDTBean">
		select * from PRDT_TB  
		where PCI_SQ_PK = #{value}
	</select>
	
	

	<insert id="addComment" parameterType="PRDTCommentBean">
	insert into PRDT_COMMENT_TB values(
	PRDT_COMMENT_TB_SEQ.nextval,
	#{PDCMM_IMG_PATH},
	#{PDCMM_BODY}, 
	sysdate,
	#{PDCMM_LOVE}, 
	0, 
	#{MEM_EMAIL_PK}, 
	0,
	#{PP_SQ_PK}, 
	sysdate)
	</insert>
	
	<select id="getCommentList" parameterType="int" resultType="PRDTCommentBean">
		select * from  PRDT_COMMENT_TB 
		where PP_SQ_PK = #{value}
	</select>
	
	
	
	<select id="getCommonCategoryList" parameterType="String" resultType="PRDTCommonBean">
		select PCI_PRDT_NAME, PCI_SQ_PK from PRDT_COMMON_INFO_TB 
		where PRDT_CTG_NM = #{value}
	</select>
	
	<select id="getPostTitleList" parameterType="Integer" resultType="PRDTPostBean">
		select PP_TITLE, PP_BODY, PP_SQ_PK from PRDT_POST_TB 
		where PCI_SQ_PK = #{value}
	</select>
	
	<select id="getPriceList" parameterType="Integer" resultType="Integer">
		select DISTINCT min(PRDT_PRICE) from PRDT_TB
		where PCI_SQ_PK = #{value}
	</select>
	
	
	

</mapper>
