<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

   
<mapper namespace="com.shoes.model.PRDTCommonBean"> 

	<select id="getCommonINfo" resultType="PRDTCommonBean">
		select * from PRDT_COMMON_INFO_TB  
		where PCI_SQ_PK = 142
	</select>

	
</mapper>
