<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:web="http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 클라이언트로부터 오는 모든 쿼리에 대한 한글 인코딩 처리 '필터' -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<!-- url-pattern : 해당 애플리케이션 내에서 필터를 적용시키고자 하는 범위. -->
	<!--	/* - 애플리케이션 내 모든 post 방식에서 적용(servlet, jsp 구분 없이). -->
	<!--	/*.do - 애플리케이션 내 *.do로 이름을 지은 서블릿 post 메소드만 적용. -->
	<!-- servlet-name : 애플리케이션 내 특정 서블릿에만 적용할 때 씀.-->
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 특정 URL에 접근할때 로그인 여부를 확인하고 팅겨내는 '필터' -->
	<filter>
		<filter-name>LoginBlock</filter-name>
		<filter-class>com.shoes.filter.LoginCheckFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>LoginBlock</filter-name>
		<url-pattern>/used_post_write_ck</url-pattern>
		<url-pattern>/used_post_write_ck_submit</url-pattern>
		<url-pattern>/mypage/*</url-pattern>
	</filter-mapping>
	
	
	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<jsp-config>
	<taglib> 
       <taglib-uri>http://www.springframework.org/tags/form</taglib-uri>
      <taglib-location>/META-INF/spring-form.tld</taglib-location>  
</taglib>
	</jsp-config>
</web-app>


